
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1465011631'); /* IE9*/
  src: url('iconfont.eot?t=1465011631#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1465011631') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1465011631') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1465011631#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-duihua:before { content: "\e659"; }
.icon-caidan:before { content: "\e65d"; }
.icon-shouye:before { content: "\e654"; }
.icon-sousuo:before { content: "\e655"; }
.icon-gerenzhongxin:before { content: "\e656"; }
.icon-gouwuche:before { content: "\e653"; }
