<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/vue.js"></script>
    <style>
        div{
            width: 200px;
            height: 200px;
            background-color: grey;
            border: 1px solid yellow;
        }
        .red{
            background-color: red;
        }
        .blue{
            background-color: blue;
        }
        .green{
            background-color: green;
        }
    </style>
</head>
<body>
<div id="app">
 <p v-if="show">qqqqqqqqqq</p>
    <p v-else="show">wwwwww</p>
    <p>qq2222qq</p>
    <template v-if="show">
        <h1>asd</h1>
        <p>asda</p>
    </template>
    <p v-show="show">sssssww</p>
    <button @click="show=!show">switch</button>
    <ul><li v-for="x in persons"><span>{{x.name}}</span> <span>{{x.age}}</span></li></ul>
    <ul><li v-for="(x,i) in persons"><span>{{x.name}}</span> <span>{{x.age}}</span> <span>{{i}}</span></li></ul>
    <template v-for="x in persons">
        <p>{{x.name}}</p>
        <p>{{x.age}}</p>
    </template>
    <ul><li v-for="person in persons">
        <span v-for="(value,key,index) in person">{{key}}:{{value}}-{{index}}</span>
    </li></ul>
    <span v-for="n in 10">{{n}}</span>
    <ul><li v-for="x in food" :key="x">{{x}}</li></ul>
    <button @click="food.push('dd')">add</button>
</div>
</body>
<script>
    new Vue({
        el: '#app',
        data: {
            show:true,
            food:['aa','ss'],
            persons:[
                {name:'asd',age:2},{name:'zzz',age:3}
            ]

        },
        computed:{
            divclass:function(){
                return {
                    red:this.attachRed,
                    blue:!this.attachRed

                }
            },
            myStyle:function(){
                return {
                    backgroundColor:this.color,
                    width:this.width+'px'
                }
            }

        },
        methods: {

        }

    })
</script>
</html>